.benefits {
  background-color: #EAEAEA;
}

.benefits__header {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.benefits__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}

.benefits__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-transform: uppercase;
}

.benefits__description {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
}

.benefits__sum {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-transform: uppercase;
}

.benefits__span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-transform: uppercase;
}
