.introduction__preview {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: white;
}


.introduction__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}


.introduction__wrapper-form-choose {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  background-color: #68B738;
}
